<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.0d0a.serbar</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/chenxu/bin/serbar</string>
            <string>--server</string>
            <string>192.168.2.59:24800</string>
            <string>--screen-name</string>
            <string>ESPARRIER</string>
            <string>--screen-width</string>
            <string>2560</string>
            <string>--screen-height</string>
            <string>1440</string>
            <string>-f</string>
        </array>
        <key>KeepAlive</key>
        <true />
    </dict>
</plist>